<%- include("../partials/header.ejs") %>
<section id="mu-page-breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mu-page-breadcrumb-area">
          <h2>About</h2>
          <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">About</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="mu-gallery">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mu-gallery-area">
          <!-- start title -->
          <div
            class="mu-gallery-content"
            style="
              display: flex;
              justify-content: center;
              flex-direction: column;
              color: rgb(95, 95, 95);
            "
          >
            <p>
              The Department of Mathematics, Bahauddin Zakariya University,
              Multan came into being with the establishment of the University in
              September, 1975. The Department progressed very rapidly and in
              1985, it was upgraded as the Centre for Advanced Studies in Pure
              and Applied Mathematics (CASPAM). The Centre has now Thirteen
              teachers with Ph.D. degrees and Five with MS/M.Phil. degrees.
            </p>

            <p>
              The Centre is imparting education at the levels of BS (4-Year),
              M.Sc., MS/M.Phil. and Ph.D. in Mathematics.
            </p>

            <p>
              The Centre has the honour of successfully completing a
              collaboration program with the Department of Mathematics, Bradford
              University, UK. Under this collaboration not only exchange of
              teachers took place but the computer laboratory of the centre was
              also equipped with the Sun Computer System.
            </p>

            <p>
              The graduates of the centre are serving in different Federal and
              Provincial Government Departments, Armed Forces, Pakistan Atomic
              Energy Commission, Banks, Insurance Companies and other Financial
              and Educational Institutions.
            </p>

            <p>
              Computer Centre is one of the four sections of the Centre for
              Advanced Studies in Pure and Applied Mathematics (CASPAM). It was
              established in 1987 to provide computing facilities to the
              students of M.Sc., MS/M.Phil. and Ph.D programs of CASPAM. The
              research students and teachers of the University are also using
              its computing facilities for research purpose. Computer Centre is
              responsible for smooth running of the Post Graduate Diploma and
              other short term computer courses offered by CASPAM from time to
              time.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include("../partials/footer.ejs") %>
